### All files, directories or file extensions that should not be copied from development to production. ###

__pycache__/
exports/
cache/
*.png
*.log
*.xlsx
pack.mcmeta
renamed_block_data.json
renamed_item_data.json

!pack.png